body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3edf8;
}
.input-group{
  position: relative;
}
input{
  padding: 10px;
  background: #d3edf8;
  outLine: none; 
  color: #444444;
  border: 1px solid #0da2ff;
  border-radius: 3px;
}
.placeholder{
  position: absolute;
  top: 8px;
  Left: 8px; 
  font-size: 14px; 
  padding: 0px 5px; 
  color: #0da2ff; 
  transition: 0.3s;
  pointer-events: none;
}
input:focus + .placeholder, 
input:autofill,
input:-webkit-autofill,
input:not(:placeholder-shown)
+ .placeholder{
  top: -10px;
  background-color: #d3edf8;
}